<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="angularDemoApp" class="no-js"> <!--<![endif]-->
<div ng-controller="demoController">
  <p>{{Test}}</p>

  <input type="button" value="Demo button" name="DemoButton" ng-click="DemoButton()"/>
  <input type="button" value="Demo Rest button" name="DemoRestButton" ng-click="DemoRestButton()"/>

</div>
